<!DOCTYPE html>
<html>

<head>

    <title>JavaScript</title>
    
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>

<body>

    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Spotify Analysis</span>
      </div>
    </nav>

    <a href = "http://127.0.0.1:5000/list"> <h2>Top Ten Lists By Year </h2></a>
    <a href = "http://127.0.0.1:5000/trts"> <h2>Musical Traits By Year </h2></a>
    <a href = "http://[::]:8000/templates/page2.html"> <h2>Top 100 Songs of Last Decade</h2> </a>
    <a href = "http://[::]:8000/templates/page.html"> <h2>Popularity, Danceability, Duration</h2></a>
    <a href = "http://[::]:8000/templates/bar.html"> <h2>Top 10 Danceability</h2></a>
    <a href = "http://[::]:8000/templates/racetrack.html"> <h2>NSYNC vs Indivual Member Popularity</h2></a>
    


    <img src ="https://i.pinimg.com/originals/91/cf/c8/91cfc89b2fe0c762fe34c20d8b1c835d.jpg">


</body>

</html>