<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Explicitness</title>

  <script src="https://d3js.org/d3.v7.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-2.3.0.min.js"></script>


</head>

<body>

  <h4> Explicitness vs Popularity</h4>
  <div id="explicitChart"></div>

  <script>

    function init() {
      var selector = d3.select("#explicitChart");

      d3.json("../top.json").then((response) => {
        console.log(response);

        let songName = [];
        let popularityScore = [];
        let years = [];
        let exps = [];
        let artists = [];

        for (i = 0; i < 99; i++) {


          var y = response[`${i}`]['popularity'];
          popularityScore.push(y);
          var explicitScore = response[`${i}`]['explicit'];
          exps.push(explicitScore);
          var artist = response[`${i}`]['artists'];
          artists.push(artist);
          var release_year = response[`${i}`]['year'];
          years.push(release_year)
          var song = response[`${i}`]['name'];
          songName.push(song);

        };
        console.log(songName)

        var trace1 = {
          x: years,
          y: popularityScore,
          type: "scatter",
          mode: "markers",
          transforms: [{ type: "groupby", groups: explicitScore}],
          text: songName,
          config: { responsive: true }
         
        }

      
      var data = [trace1];
    
      var layout = {
        title: 'Top 100 Songs of the Last Decade'
      }
      Plotly.newPlot("explicitChart", data, layout);
    });
    }

    //create scatter plots just to see what data looks like plotted

    init();

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="../static/js/bubblechart.js"></script> -->

</body>

</html>